<p style="color: green"><%= notice %></p>

<% content_for :title, "Documents" %>

<div class="flex justify-between items-center">
  <h1 class="text-2xl font-bold">Documents</h1>
  <%= render Documents::NewModal.new %>
</div>

<div id="documents">
  <% if @documents.any? %>
    <% @documents.each do |document| %>
      <%= render RubyUI::Link.new(href: document_path(document) ) { document.name } %>
    <% end %>
  <% else %>
    No documents yet
  <% end %>
</div>
