<p style="color: green"><%= notice %></p>

<% content_for :title, "Documents" %>

<% content_for :left_nav do %>
  <h1 class="text-2xl font-bold">Documents</h1>
<% end %>
<% content_for :right_nav do %>
  <%= render App::NewDocumentModal.new(model: @document) %>
<% end %>

<div id="documents" class="grid grid-cols-4 md gap-4">
  <% if @documents.any? %>
    <% @documents.each do |document| %>
      <%= render Documents::Preview.new(model: document) %>
    <% end %>
  <% else %>
    <div class="col-span-4 h-32 flex items-center justify-center">
      <p class="text-center text-gray-500">No documents yet</p>
    </div>
  <% end %>
</div>
