<p style="color: green"><%= notice %></p>

<% content_for :title, "Documents" %>

<div class="flex justify-between items-center">
  <h1 class="text-2xl font-bold flex-inline">Documents</h1>
  <%= render RubyUI::Link.new(href: new_document_path, variant: :primary) do %>
    <i class="ri-add-line pr-2"></i>
    <div>
      New
    </div>
  <% end %>

</div>

<div id="documents">
  <% if @documents.any? %>
    <% @documents.each do |document| %>
      <%= render RubyUI::Link.new(href: document_path(document) ) { document.name } %>
    <% end %>
  <% else %>
    No documents yet
  <% end %>
</div>
